article:not(.author) {
  @extend .d-flex, .flex-column;
  > * {
    order: 2;
  }
  header {
    order: 1;
  }
  figure:first-child {
    margin: 1em 0;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
